<div>
  <div className="row">
    <div>
      <rector
        className="col-lg-9"
        [rectList]="rectList"
        (rectListEvent)="receiveFromChild($event)"
      ></rector>
    </div>
    <div className="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>
              #
            </td>
            <td>
              Field Name
            </td>
            <td>
              X
            </td>
            <td>
              Y
            </td>
          </tr>
        </thead>
        <tbody>
          <tr tableCol *ngFor="let el of rectList; let i = index">
            <td>{{ i + 1 }}</td>
            <td><input #box /></td>
            <td>{{ el.x }}</td>
            <td>{{ el.y }}</td>

            <button (click)="onClickRemove(i)">Remove</button>
          </tr>
        </tbody>
        <tfoot>
          <button (click)="onClickAdd()">Add Field</button>
          <button (click)="onClickAdd()">Parse</button>
        </tfoot>
      </table>
    </div>
  </div>
</div>
