<div>
  <div className="row">
    <div>
      <rector
        className="col-lg-9"
        [rectList]="rectList"
        (rectListEvent)="receiveFromChild($event)"
      ></rector>
    </div>
    <div className="col-lg-3">
      <table>
        <thead>
          <tr>
            <td>
              #
            </td>
            <td>
              Field Name
            </td>
          </tr>
        </thead>
        <tbody>
          <tr tableCol *ngFor="let el of rectList">
            <td>{{ el.x }}</td>
            <td>{{ el.y }}</td>
          </tr>
        </tbody>
        <button (click)="onClick()">Add Field</button>
      </table>
    </div>
  </div>
</div>
