.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: block;
  padding: 1.5rem;
  color: white;
  background-color: #32353b;
}

.navContainer {
  height: 100%;
  margin: 0 10rem;
  padding: 0 1rem;
}

nav h3 {
  float: left;
  font-size: 100%;
}

.mainContainer {
  text-align: center;
  padding: 5rem 0rem 10rem;
  height: 100vh;

  background: #485563; /* fallback for old browsers */
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.marginBot3 {
  margin-bottom: 3em;
}
